<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:label="@string/app_name"
            android:name="com.four_zreo.soulrepair.Splash_Screen"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.four_zreo.soulrepair.Main_Soul_Repair_Activity"
            android:launchMode="singleTop"
            android:exported="false"/>
        <activity
            android:label="@string/app_name"
            android:name="com.four_zreo.soulrepair.Colors_Activity"
            android:exported="false"/>
        <activity
            android:label="@string/app_name"
            android:name="com.four_zreo.soulrepair.Musics_Activity"
            android:exported="false"/>
        <activity
            android:name="com.four_zreo.soulrepair.Colors_OpenBlackHybridBlue_Activity"
            android:theme="@style/AppTheme.FullScreen"
            android:exported="false"/>
        <activity
            android:name="com.four_zreo.soulrepair.Colors_OpenWholeColors_Activity"
            android:theme="@style/AppTheme.FullScreen"
            android:exported="false"/>
        <activity
            android:name="com.four_zreo.soulrepair.Colors_OpenWhite_Activity"
            android:theme="@style/AppTheme.FullScreen"
            android:exported="false"/>
        <activity
            android:name="com.four_zreo.soulrepair.Colors_OpenLightBlue_Activity"
            android:theme="@style/AppTheme.FullScreen"
            android:exported="false"/>
        <activity
            android:label="@string/app_name"
            android:name="com.four_zreo.soulrepair.androidhive.musicplayer.AndroidBuildingMusicPlayerActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:exported="false"/>
        <activity
            android:label="@string/app_name"
            android:name="com.four_zreo.soulrepair.androidhive.musicplayer.PlayListActivity"
            android:exported="false"/>
        <activity
            android:name="com.four_zreo.soulrepair.paul.arian.fileselector.FileSelectionActivity"
            android:exported="false"/>
    </application>
</manifest>
